DEPLOYER_PRIVATE_KEY=
EXPECTED_DEPLOYER_ADDRESS=
BSCSCAN_API_KEY=

BSC_MAINNET_RPC_URL=
NEXT_PUBLIC_CHAIN_ID=56
NEXT_PUBLIC_BSC_MAINNET_RPC_URL=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=replace-with-reown-walletconnect-project-id
INITIAL_OWNER=
MARKETPLACE_FEE_RECIPIENT=
BOTPASS_TREASURY=
PLATFORM_TREASURY_WALLET=
NEXT_PUBLIC_USDT_TOKEN_ADDRESS=0x55d398326f99059fF775485246999027B3197955
USDT_TOKEN_ADDRESS=0x55d398326f99059fF775485246999027B3197955
NEXT_PUBLIC_USDT_CHAIN_ID=56
WITHDRAWAL_VAULT_ADDRESS=
NEXT_PUBLIC_GAINIX_WITHDRAWAL_VAULT_ADDRESS=
NEXT_PUBLIC_WITHDRAWAL_CONTRACT_ADDRESS=

NFT_NAME=Gainix NFT
NFT_SYMBOL=GNFT
NFT_BASE_URI=ipfs://gainix-nft-metadata/
NFT_START_TOKEN_ID=1000
MARKETPLACE_FEE_BPS=200

NEXT_PUBLIC_GAINIX_NFT_ADDRESS=
NEXT_PUBLIC_GAINIX_MARKETPLACE_ADDRESS=
NEXT_PUBLIC_GAINIX_BOTPASS_ADDRESS=
NEXT_PUBLIC_WITHDRAWAL_VAULT_ADDRESS=

BOT_PLAN_IDS=1,2,3,4,5
BOT_PLAN_PRICES_WEI=10000000000000000,20000000000000000,50000000000000000,100000000000000000,500000000000000000
BOT_PLAN_CYCLES=120,260,700,1600,9000
